.App-header {
  background-color: #f6f5fa;
  height: 40vh;
  padding: 20px;
  color: white;
  position: relative;
  margin-bottom: 5vh;
}

.Header-title {
  font-size: 12vh;
  font-weight: 800;
  color: #222;
}

.Header-logo {
  position: absolute;
  bottom: -6vh;
  left: 0;
  right: 0;
  margin: auto;
  height: 20vh;
}
